* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(120deg, #8e9eab, #eef2f3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* APP CONTAINER */
.app {
  width: 100%;
  /* max-width: 1200px; */
  height: 100%;
  background: #000;
  /* border-radius: 20px; */
  display: flex;
  overflow:hidden;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #111;
  color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 26px;
  margin-bottom: 40px;
}

.menu li {
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.menu li:hover,
.menu .active {
  background: #6c63ff;
}

.bottom-menu {
  margin-top: auto;
  font-size: 14px;
  opacity: 0.7;
}

/* MAIN */
.main {
  flex: 1;
  color: #fff;
  padding: 30px;
}

/* HERO */
.hero {
  position: relative;
  height: 280px;
  border-radius: 15px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.hero-content h1 {
  font-size: 48px;
}

.listeners {
  font-size: 14px;
  opacity: 0.8;
}

.actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.play-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  background: #6c63ff;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}

.play-btn:hover {
  transform: scale(1.1);
}

.like {
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s;
}

.like:hover {
  color: #6c63ff;
}

/* SONG LIST */
.songs {
  margin-top: 30px;
}

.songs h3 {
  margin-bottom: 20px;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
  transition: background 0.3s;
  margin-bottom: 10px;
}

.song:hover {
  background: rgba(255, 255, 255, 0.1);
}

.song img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.song div {
  flex: 1;
  margin-left: 15px;
}

.song h4 {
  font-size: 16px;
}

.song p {
  font-size: 12px;
  opacity: 0.7;
}

.heart {
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.heart:hover {
  transform: scale(1.2);
  color: #6c63ff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .app {
    height: auto;
  }
}