body{
    margin:0;
    color: white;
    background-color: rgba(129, 69, 69, 0.425);
}


#headder{
    display :flex;
    justify-content: space-between;
    margin: 1px;
    border-radius: 10px;
    background-color:rgba(5, 26, 34, 0.301);
}


#OnlineExam{
    padding: 10px;
}


#time{
    padding-right: 20px;
    padding-top: 10px;
}


#main_container{
    height:100vh;
    display: flex;
}
#time{
    background-color: rgba(35, 35, 83, 0.37);
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    margin-right: 8px;
    padding-right: 5px;
}
#question{
    display:inline;
    padding:10px;
    margin: 10px;;
    margin-right: 30px;
    margin-top: 5px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.336);


}


.opt{
    display: block;
    text-align: center;
    color: white;
    text-decoration: solid;
    border-radius: 15px;
    background-color: gray;
    width:250px;
    padding:10px;
    border:none;
    margin: 8px;
}


.opt:hover{
    background-color: rgba(137, 43, 226, 0.521);
    cursor: pointer;
}


.opt:active{
     background-color: rgba(137, 43, 226, 0.829);
}


#ans{
    width:100%;
    margin-left: 1px;
    margin:10px;
   background-color: rgba(128, 128, 128, 0.336);
   border-radius: 10px;


}


.op{
    display: flex;
    text-align: center;
    color: white;
    text-decoration: solid;
    border-radius: 15px;
    background-color: gray;
    width:95%;
    padding:10px;
    border:none;
    font-size: 15px;
    margin: 10px;
   
}


.op:hover{
    background-color: rgba(137, 43, 226, 0.521);
    cursor: pointer;
}


.op:active{
     background-color: rgba(137, 43, 226, 0.829);
}


p{
    font-size:24px;
    margin: 10px;
}